<div id="wrapper" class="card-centered-wrapper">
  <md-card *ngIf="acceptedAppointment" class="card-centered-600">
    <md-card-title i18n="Title for appointment accepted card">Appointment Accepted</md-card-title>
    <md-card-content>
      <p i18n>You have successfully accepted your appointment.</p>
      <h3 i18n>Details:</h3>
      <p i18n>{{formatMoment(acceptedAppointment.start)}}</p>
    </md-card-content>
  </md-card>
  <md-card *ngIf="failed" class="card-centered-600">
    <md-card-title i18n="Title for offer error">Appointment Expired</md-card-title>
    <md-card-content>
      <p i18n="Error message telling an offer has expired">
        It looks like this offer for an appointment already expired.
      </p>
      <p i18n="Hint that it's always possible to get a new offer">
        You can always get a new one by mailing to
        <a href="mailto:auto-appointment@sebastianhaas.online" target="_top">
          auto-appointment@sebastianhaas.online
        </a>
        or calling us directly at 269-852-0681.
      </p>
    </md-card-content>
  </md-card>
</div>
