<md-card>
  <md-card-content>
    <div class="schedule-container">
      <p-schedule *ngIf="!refreshCalendar"
                  [events]=appointments
                  [height]="700"
                  [allDaySlot]="false"
                  header="false"
                  [defaultView]=viewMode
                  [hiddenDays]=hiddenDays
                  [eventLimit]="true"
                  [locale]="locale"
                  [minTime]=minTime
                  [maxTime]=maxTime
                  [defaultDate]=viewDate
                  timezone="local">
      </p-schedule>
    </div>
  </md-card-content>
</md-card>
