<div class="card-centered-wrapper">

  <md-card *ngIf="!editing" class="card-centered-600">
    <md-card-title>
      {{model?.patient?.givenName}} {{model?.patient?.surname}}
      <button *ngIf="model.patient" md-icon-button [routerLink]="['/appointment/patient', model.patient.id]">
        <md-icon class="md-24">person</md-icon>
      </button>
    </md-card-title>
    <md-card-subtitle *ngIf="model.title">{{model.title}}</md-card-subtitle>
    <md-card-content>
      <p *ngIf="model.roomId && rooms">{{getRoomNameById(model.roomId)}}</p>
      <p>On {{model.date}} at {{model.time}}</p>
      <p>{{humanizeDuration(model.duration)}}</p>
      <ul>
        <li *ngFor="let e of model.examinations"><span>{{e.name}}</span></li>
      </ul>
      <p>{{model.description}}</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button (click)="handleEditClick()">EDIT</button>
    </md-card-actions>
  </md-card>

  <form *ngIf="editing" (ngSubmit)="onSubmit()" #appointmentForm="ngForm" (change)="onFormChange()" class="ui form">
    <md-card class="card-centered-600">
    <md-card-title>New Appointment</md-card-title>
      <md-card-content>

        <div>
          <p-autoComplete [(ngModel)]="model.patient" [suggestions]="filteredPatients" (completeMethod)="findPatients($event)" field="surname" placeholder="Patient" required="true" name="patient">
            <template let-patient>
              <span>{{patient?.givenName}} {{patient?.surname}}, {{patient?.dateOfBirth | date:'shortDate'}}</span>
            </template>
          </p-autoComplete>
        </div>

        <div class="examinations-container">
          <span class="label">Examinations:</span>
          <p-autoComplete [(ngModel)]="model.examinations" [suggestions]="filteredExaminations" (completeMethod)="findExaminations($event)" [minLength]="1" placeholder="Examinations" field="name" [multiple]="true" name="examinations">
          </p-autoComplete>
        </div>

        <div><md-input [(ngModel)]="model.duration" placeholder="Duration" required="true" name="duration"></md-input><span class="description">E.g.: 30M, 1H, 1H40M etc.</span></div>

        <div><md-input [(ngModel)]="model.date" placeholder="Date" required="true" name="date"></md-input>
        <md-input [(ngModel)]="model.time" placeholder="Time" required="true" name="time"></md-input></div>

        <md-input [(ngModel)]="model.title" placeholder="Title" name="title"></md-input>
        <md-input [(ngModel)]="model.description" placeholder="Description" name="description"></md-input>

        <div>
          <span class="label">Room: *</span>
          <select [(ngModel)]="model.roomId" required name="room">
            <option *ngFor="let r of rooms" [value]="r?.id">{{r?.name}}</option>
          </select>
        </div>

      </md-card-content>
      <md-card-actions align="end">
        <button [disabled]="!appointmentForm.form.valid" md-button type="submit">SAVE</button>
      </md-card-actions>
    </md-card>
  </form>

  <div *ngFor="let timeSlot of proposedTimeSlots">
    <md-card class="card-centered-600">
      <md-card-subtitle>In {{timeSlot.scheduledTasks.NewAppointment.schedule[0].start | amTimeAgo:true}}</md-card-subtitle>
      <md-card-title>{{timeSlot.scheduledTasks.NewAppointment.schedule[0].start | date:'fullDate'}}</md-card-title>
      <md-card-content>
        <div>{{timeSlot.scheduledTasks.NewAppointment.schedule[0].start | date:'shortTime'}}, {{timeSlot.scheduledTasks.NewAppointment.schedule[0].duration}} Minutes</div>
        <div>{{getRoomNameById(timeSlot.scheduledTasks.NewAppointment.schedule[0].resources[0])}}</div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button type="submit" (click)="applySuggestion(timeSlot.scheduledTasks.NewAppointment.schedule[0])">APPLY SUGGESTION</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
