<div id="wrapper" class="card-centered-wrapper">
  <md-card class="card-centered-600">
    <h2>Scheduled</h2>
    <div *ngIf="!appointmentsScheduled || appointmentsScheduled.length <= 0">No more patients scheduled for today.</div>
    <md-list>
      <md-list-item *ngFor="let appointment of appointmentsScheduled">
        <md-icon md-list-avatar>person</md-icon>
        <h3 md-line>{{appointment?.patient?.givenName}} {{appointment?.patient?.surname}}</h3>
        <p md-line>{{appointment.examinations && appointment?.examinations[0]?.name}}</p>
        <p md-line class="md-list-third-line">Scheduled for {{appointment.start | date:'shortTime'}}, {{appointment.start | amTimeAgo}}</p>
        <button md-icon-button (click)="requestCall(appointment?.patient?.phone)">
            <md-icon class="md-24">phone</md-icon>
        </button>
        <button md-button (click)="checkIn(appointment)">CHECK IN</button>
      </md-list-item>
    </md-list>

    <h2>Waiting</h2>
    <md-list>
      <md-list-item *ngFor="let appointment of appointmentsCheckedIn">
        <md-icon md-list-avatar>person</md-icon>
        <h3 md-line>{{appointment?.patient?.givenName}} {{appointment?.patient?.surname}}</h3>
        <p md-line>{{appointment.examinations && appointment?.examinations[0]?.name}}</p>
        <p md-line class="md-list-third-line">Waiting since {{appointment?.attendance?.checkedIn | amTimeAgo:true}}</p>
        <button md-button (click)="underTreatment(appointment)">UNDER TREATMENT</button>
      </md-list-item>
    </md-list>

    <h2>Under Treatment</h2>
    <md-list>
      <md-list-item *ngFor="let appointment of appointmentsUnderTreatment">
        <md-icon md-list-avatar>person</md-icon>
        <h3 md-line>{{appointment?.patient?.givenName}} {{appointment?.patient?.surname}}</h3>
        <p md-line>{{appointment.examinations && appointment?.examinations[0]?.name}}</p>
        <p md-line class="md-list-third-line">Under treatment since {{appointment?.attendance?.underTreatment | amTimeAgo:true}}</p>
        <button md-button (click)="checkOut(appointment)">CHECK OUT</button>
      </md-list-item>
    </md-list>

    <h2>Finished</h2>
    <md-list>
      <md-list-item *ngFor="let appointment of appointmentsFinished">
        <md-icon md-list-avatar>person</md-icon>
        <h3 md-line>{{appointment?.patient?.givenName}} {{appointment?.patient?.surname}}</h3>
        <p md-line>{{appointment.examinations && appointment?.examinations[0]?.name}}</p>
        <p md-line class="md-list-third-line">Has been under treatment for {{appointment?.attendance?.finished | amDifference : appointment?.attendance?.underTreatment : 'minutes'}} minutes</p>
      </md-list-item>
    </md-list>
  </md-card>
</div>
