<div #fml class="card-centered-wrapper">

  <md-card *ngIf="!editing" class="card-centered-600">
    <md-card-title>
      {{model?.patient?.givenName}} {{model?.patient?.surname}}
      <button *ngIf="model.patient" md-icon-button [routerLink]="['/appointment/patient', model.patient.id]">
        <md-icon class="md-24">person</md-icon>
      </button>
    </md-card-title>
    <md-card-subtitle *ngIf="model.title">{{model.title}}</md-card-subtitle>
    <md-card-content>
      <p *ngIf="model.roomId && rooms">{{getRoomNameById(model.roomId)}}</p>
      <p i18n>On {{model.date}} at {{model.time}}</p>
      <p>{{formatDuration(model.duration)}}</p>
      <ul>
        <li *ngFor="let e of model.examinations"><span>{{e.name}}</span></li>
      </ul>
      <p>{{model.description}}</p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button (click)="handleEditClick()" i18n>EDIT</button>
    </md-card-actions>
  </md-card>

  <form *ngIf="editing" (ngSubmit)="onSubmit()" #appointmentForm="ngForm" (change)="onFormChange()" class="ui form">
    <md-card class="card-centered-600">
    <md-card-title *ngIf="!model.id" i18n>New Appointment</md-card-title>
    <md-card-title *ngIf="model.id" i18n>Update Appointment</md-card-title>
      <md-card-content>

      <h3 i18n="Section header for appointment form">Patient</h3>
       <div>
          <p-autoComplete [(ngModel)]="model.patient" [suggestions]="filteredPatients" (completeMethod)="findPatients($event)" field="surname" [placeholder]="trans.patient" required="true" name="patient">
            <template let-patient>
              <span>{{patient?.givenName}} {{patient?.surname}}, {{patient?.dateOfBirth | date:'shortDate'}}</span>
            </template>
          </p-autoComplete>
        </div>

        <h3 i18n="Section header for appointment form">Examinations</h3>
        <div class="examinations-container">
          <p-autoComplete #examMultiChooser [(ngModel)]="model.examinations" [suggestions]="filteredExaminations" (completeMethod)="findExaminations($event)" [minLength]="1" [placeholder]="trans.examinations" field="name" [multiple]="true" name="examinations">
          </p-autoComplete>
        </div>

        <h3 i18n="Section header for appointment form">Details</h3>
        <div>
          <md-input #duration [(ngModel)]="model.duration" [placeholder]="trans.duration" required="true" name="duration"
            pattern="^[0-9]+H[0-9]+M|[0-9]+[M|H]$"
            (blur)="onDurationBlur($event)">
            <md-hint align="end" i18n>e.g.: 30M, 1H, 1H40M etc.</md-hint>
          </md-input>
        </div>

        <div>
          <datepicker [(ngModel)]="model.date" [placeholder]="trans.date" required="true" name="date"></datepicker>
          <clockpicker [(ngModel)]="model.time" [placeholder]="trans.time" [twelveHours]="isTwelveHours" required="true" name="time"></clockpicker>
        </div>

        <md-input #title [(ngModel)]="model.title" [placeholder]="trans.title" maxlength="20" name="title" class="padding-top-24">
          <md-hint align="end">{{title.characterCount}} / 20</md-hint>
        </md-input>
        <md-input #description [(ngModel)]="model.description" [placeholder]="trans.description" maxlength="100" name="description" class="padding-top-24">
          <md-hint align="end">{{description.characterCount}} / 100</md-hint>
        </md-input>

        <h3 i18n="Section header for appointment form">Room</h3>
        <div>
          <span i18n class="label">Room: *</span>
          <select [(ngModel)]="model.roomId" required name="room">
            <option *ngFor="let r of rooms" [value]="r?.id">{{r?.name}}</option>
          </select>
        </div>

        <!-- Only on add, not on update for the time. -->
        <div *ngIf="!this?.model?.id" class="section-reminders">
          <md-slide-toggle [(ngModel)]="model.reminders" name="reminders" i18n="Section hedaer for appointment form">
            Reminders
          </md-slide-toggle>
          <div *ngIf="model.reminders">
            <div class="md-checkbox-div">
              <md-checkbox [(ngModel)]="model.emailReminder" name="emailReminder" i18n>
                Send email reminder <span *ngIf="model?.patient?.email" class="label">({{model.patient.email}})</span>
              </md-checkbox>
            </div>
            <div>
              <md-checkbox [(ngModel)]="model.smsReminder" name="smsReminder" i18n>
                Send text message reminder <span *ngIf="model?.patient?.phone" class="label">({{model.patient.phone}})</span>
              </md-checkbox>
            </div>
          </div>
        </div>

      </md-card-content>
      <md-card-actions align="end">
        <button [disabled]="!appointmentForm.form.valid" md-button type="submit" i18n>SAVE</button>
      </md-card-actions>
    </md-card>
  </form>

  <div *ngFor="let timeSlot of proposedTimeSlots">
    <md-card class="card-centered-600">
      <md-card-subtitle i18n="Date overview in suggested appoitment">In {{timeSlot.scheduledTasks.NewAppointment.schedule[0].start | amTimeAgo:true}}</md-card-subtitle>
      <md-card-title>{{timeSlot.scheduledTasks.NewAppointment.schedule[0].start | date:'fullDate'}}</md-card-title>
      <md-card-content>
        <div i18n>{{timeSlot.scheduledTasks.NewAppointment.schedule[0].start | date:'shortTime'}}, {{timeSlot.scheduledTasks.NewAppointment.schedule[0].duration}} Minutes</div>
        <div>{{getRoomNameById(timeSlot.scheduledTasks.NewAppointment.schedule[0].resources[0])}}</div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button type="submit" (click)="applySuggestion(timeSlot.scheduledTasks.NewAppointment.schedule[0])" i18n>APPLY</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
