<md-grid-list *ngIf="rooms" [cols]="rooms.length" rowHeight="750px" gutterSize="12px">
   <md-grid-tile *ngFor="let room of rooms">
     <md-card class="appointment-by-room-card">
      <md-card-title>
        {{room.name}}
      </md-card-title>
      <md-card-content>
        <p-schedule
        header="false"
        defaultView="agendaDay"
        [locale]="locale"
        [minTime]=minTime
        [maxTime]=maxTime
        [events]="appointmentsByRoom[room.id]"
        [height]="750"
        [locale]="locale"
        timezone="local"
        (onEventClick)="handleEventClick($event)">
        </p-schedule>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
