<div id="wrapper" class="card-centered-wrapper">
  <md-card class="card-centered-600">
    <md-card-title>Patient Data</md-card-title>
    <p *ngIf="!patient">Loading patient data...</p>
    <div *ngIf="patient">
      <p>{{patient.givenName}} {{patient.surname}}</p>
      <p>{{patient.svn}}</p>
      <p>{{patient.dateOfBirth | date}}</p>
      <p>{{patient.phone}}</p>
      <p>{{patient.email}}</p>
      <p>{{patient.streetAddress}}<br />{{patient.zipCode}} {{patient.city}}<br />{{patient.country}}</p>
    </div>
  </md-card>
  <md-card *ngFor="let appointment of appointments" class="card-centered-600">
    <md-card-title>{{appointment.start | date}}</md-card-title>
    <md-card-subtitle>{{appointment.start | date:'shortTime'}}, {{appointment.end | amDifference : appointment.start : 'minutes'}} minutes</md-card-subtitle>
    <md-card-content>
      <ul>
        <li *ngFor="let exam of appointment.examinations">{{exam.name}}</li>
      </ul>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button routerLink="/appointment/{{appointment.id}}">EDIT</button>
      <button md-button (click)="openCancelAppointmentDialog(appointment)">CANCEL APPOINTMENT</button>
    </md-card-actions>
  </md-card>
</div>
